In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [11]:
ssn = pd.read_csv('SN_ms_tot_V2.0.csv', sep=';', header=None,
                 names=[
                    'Year', 
                    'Month', 
                    'DecimalDate', 
                    'SmoothSunspotNumber', 
                    'StandardDeviation', 
                    'NumberOfObservations', 
                    'DefinitiveMarker'
                    ])

# Convert Year and Month to strings and ensure Month is zero-padded
ssn['Year'] = ssn['Year'].astype(str)
ssn['Month'] = ssn['Month'].astype(str).str.zfill(2)

# Create a datetime column - adding a day (15th of each month as approximation)
ssn['Date'] = pd.to_datetime(ssn['Year'] + '-' + ssn['Month'] + '-31')

ValueError: day is out of range for month, at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [9]:
ssn.head()

,Year,Month,DecimalDate,SmoothSunspotNumber,StandardDeviation,NumberOfObservations,DefinitiveMarker,Date
0,1749,01,1749.042,-1.0,-1.0,-1,1,1749-01-01
1,1749,02,1749.123,-1.0,-1.0,-1,1,1749-02-01
2,1749,03,1749.204,-1.0,-1.0,-1,1,1749-03-01
3,1749,04,1749.288,-1.0,-1.0,-1,1,1749-04-01
4,1749,05,1749.371,-1.0,-1.0,-1,1,1749-05-01